https://ethglobal.ale.re:8080 {
    log

	handle_path /images* {
		file_server {
		    root ./result
        }
	}

	handle_path /api* {
		reverse_proxy localhost:8888
	}

	handle /health {
		respond "OK" 200
	}

	handle {
		respond "Not Found" 404
	}
}
